@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

$fontm: "Mulish", sans-serif;

$mainbg: rgb(255, 248, 244);
$btbg:rgb(255,64,35);
$darkbg:black;
$border:gray;


$textp: 1.5rem;
$heading:3rem;
$btntext:2rem;
$navtext:1.5rem;

$borderm:1.5px;
$borderl:2px;

